<div class="center hero-unit">
  <h1>Write Your Book</h1>

  <h2>
    Simple and Powerful
  </h2>

  <% if signed_in? %>
    <ul class="myButtons">
      <li>
        <%= link_to "New Character", newCharacter_path, class: "btn btn-large btn-primary" %>
        <%= link_to "All Characters", characters_path, class: "btn btn-large btn-default" %>
      </li>    
      <li>    
      </li>
    </ul>
  <% else %>
    <ul class="myButtons">
      <li>
        <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
      </li>    
      <li>    
        <%= link_to "Sign in", signin_path, class: "btn btn-large btn-default" %>
      </li>
    </ul>
  <% end %>

</div>
