<% provide(:title, 'New Scene') %>
<h1>New Scene</h1>
<div class="row">
  <aside class="span4">
    <section>
      <%= render 'shared/scene_info' %>
    </section>
    <section>
      <%= render 'shared/scene_form' %>
    </section>
  </aside>
</div>
