<% provide(:title, @character.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        Name : <%= @character.name %>
      </h1>
      <h1>
        Age : <%= @character.age %>
      </h1>
    </section>
  </aside>
</div>
