<% provide(:title, 'All chapters') %>
<h1>All chapters</h1>

<ul class="chapters">
  <% @chapter.each do |chapter| %>
    <li>
      <strong> Chapter <%= link_to chapter.number, chapter %></strong>
    </li>
    <li>
      Title : <%=chapter.title%>
    </li>    
    <li>  
     Scene : <%=chapter.scene%>
    </li>
    <li>   
    Anecdote : <%=chapter.anecdote%>,
    </li>
  <% end %>
</ul>
