<% provide(:title, @chapter.number) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        Number : <%= @chapter.number %>
      </h1>
      <h1>
        Title : <%= @chapter.title %>
      </h1>
      <h1>
        Scenes : <%= @chapter.scene %>
      </h1>
      <h1>
        Anecdotes : <%= @chapter.anecdote %>
      </h1>
    </section>
  </aside>
</div>

